<header>
    <nav>
        <h1>
            Welcome <%- user.username %>
        </h1>
        <ul>
            <li>
                <a href="/">Sign Out</a>
            </li>
        </ul>
    </nav>
</header>