<<<<<<< HEAD
<label>Username</label>
<input type = "text" name ="username"  value= "<%= user.username%>"}>
<br>
<label>Password</label>
<input type = "text" name ="password">
<br>
=======
<label>Username</label>
<input type = "text" name ="username"  value= "<%= user.username%>"}>
<br>
<label>Password</label>
<input type = "text" name ="password">
<br>
>>>>>>> da00b4ab8808edc54e00810eb49979dddfbb40cd
