<<<<<<< HEAD
<h2>Log In</h2>

<form action ='/login' method="'POST">
    <%- include('_form_fields') %>
    <br>
    <a href="/">Cancel</a>
    <br>
    <button type = "submit">login</button>
=======
<h2>Log In</h2>

<form action ='/login' method="'POST">
    <%- include('_form_fields') %>
    <br>
    <a href="/">Cancel</a>
    <br>
    <button type = "submit">login</button>
>>>>>>> da00b4ab8808edc54e00810eb49979dddfbb40cd
</form>