<<<<<<< HEAD
<h2> New User</h2>

<form action="/register" method = "post">
    <%- include('_form_fields') %>
    <br>
    <a href="/">Cancel</a>
    <br>
    <button type = "submit">Sign Up</button>
=======
<h2> New User</h2>

<form action="/register" method = "post">
    <%- include('_form_fields') %>
    <br>
    <a href="/">Cancel</a>
    <br>
    <button type = "submit">Sign Up</button>
>>>>>>> da00b4ab8808edc54e00810eb49979dddfbb40cd
</form>